/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
{
  max-width: 450px!important;
}

img.howdy
{
  max-width: 450px!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid $accentColor;
}

